
<!-- Header with Navigation -->
<header>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="search">Search</a></li>
    </ul>
  </nav>
</header>

<!-- Main Content with Card List -->
<main>
  <img src="assets/images/about-us-header-bg.jpg" style="width: 100%; height: 300px;object-fit: cover">
  <p>We are a fundraising organization dedicated to supporting individuals and causes in need. Our mission is to connect compassionate donors with those requiring urgent assistance through an innovative crowdfunding platform. Whether it's medical aid, educational support, environmental protection, or social development, we believe every donation has the power to make a difference and help create a better world.</p>
  <p>From large-scale charity campaigns to personal emergency needs, we uphold principles of transparency and fairness to ensure that every contribution is responsibly managed and directly benefits those in need. We believe that the power to change the world comes from those willing to lend a helping hand.</p>
  <p>Join us in offering hope to those in need and passing on the torch of care and compassion. Together, we can make a lasting impact.</p>
  <div id="card_list" class="card-list">
    <div class="card" *ngFor="let fundraiser of fundraisers">
      <h3>{{fundraiser.CAPTION}}</h3>
      <p>ID: {{fundraiser.FUNDRAISER_ID}}</p>
      <p>Organiser: {{fundraiser.ORGANIZER}}</p>
      <p>Target funding: {{fundraiser.TARGET_FUNDING}} AUD</p>
      <p>Current funding: {{fundraiser.CURRENT_FUNDING}}</p>
      <p>City: {{fundraiser.CITY}}</p>
      <p>Active: {{fundraiser.ACTIVE ? "active" : "not suspended"}}</p>
      <p>Category: {{fundraiser.NAME}}</p>
      <a routerLink="/fundraiser/{{fundraiser.FUNDRAISER_ID}}">More</a>
    </div>
  </div>
</main>

<!-- Footer with Contact Info -->
<footer>
  <p>Contact Us: admin&#64;cooperatives.com, Phone: +564-842-9515</p>
</footer>
