<!-- Header with Navigation -->
<header>
  <nav>
    <ul>
      <li><a href="./home.html">Home</a></li>
      <li><a href="./search.html">Search</a></li>
      <li><a href="./fundraiser.html">Fundraiser</a></li>
    </ul>
  </nav>
</header>

<!-- Main Content with Card List -->
<main>
  <img src="./images/about-us-header-bg.jpg" style="width: 100%; height: 300px;object-fit: cover">
  <h1></h1>
  <div id="card_list" class="card-list">
    <div class="card">
      <h3></h3>
      <p></p>
    </div>
  </div>
</main>

<!-- Footer with Contact Info -->
<footer>
  <p>Contact Us: admin&#64;cooperatives.com, Phone: +564-842-9515</p>
</footer>
